@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body,
html {
    font-family: "lato", sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    display:block;
    width: 100%;
    overflow-x:hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 500;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

li {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 40px;
}

img {
    width: 100%;
}

.myDIV {
  color: #fff;
  font-size: 15px;
}

code, pre {
    background: #333;
    color: #fff;
    padding: 10px;
}
/* Header */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}
.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Contact */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: solid;
    position: relative;
    
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
    font-size: 20px;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
    font-weight: 1500;
    text-decoration: solid;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: auto;
    padding: 40px;
    z-index: 100;
    animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
    margin: 30px;
}
.showcase-form input[type="text"],
.showcase-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-1deg);
    -webkit-transform: skewY(-1deg);
    -moz-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
}

.profileimg {
  animation: slideInFromRight 1s ease-in;
  width: 100%;
  overflow-wrap: normal;
  justify-self: center;
}

/* EXP */
.section {
  margin: 100px 80px;
}

.cli .grid {
    grid-template-columns: repeat(2, 2fr);
    /* grid-template-rows: repeat(2, 1fr); */
}

/* .cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
} */

.workcard span {
  font-weight: bold;
}

.workcard p {
  font-size: large;
  font-weight: bold;
}
/* Skills */




/* Tools */
.languages .flex {
    flex-wrap: wrap;
}
.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in ;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;

}

.languages .card:hover {
    transform: translateY(-15px);
}

/* Features */
.features-head img, .docs-head img {
    width: 200px;
    justify-self: flex-end;
}

.features-sub-head img {
    width: 300px;
    justify-self: flex-end;
}

.features-main .card > i {
    margin-right: 20px;
}

.features-main .grid {
    padding: 30px;
}

.features-main .grid > *:first-child {
    grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
}

/* Docs */
.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
    font-weight: bold;
}

/* Footer */
.footer .social a {
    margin: 0 20px;
}
.footer .card {
  padding: 0;
  margin: 0;
  background-color: #002240;
  color: #333;
}


/* Skill animation */

.wrapper {
    width: 40%;
    min-width: 590px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    
}
.contain {
    width: 100%;
    padding: 30px 30px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
} 





.contain *{
    font-family: "Poppins",sans-serif;
    color: black;
    font-weight: 500;
}

.soft-transition {
  transform: none;
}

.wrapper h2 {
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}

.details{
  width: 100%;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar{
  position: relative;
  border: 2px solid #0d96e0;
  border-radius: 20px;

}
.bar div{
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #0d96e0;
}

.skills:not(:last-child){
  margin-bottom: 30px;
}


/* Soft Skills */
#html-bar{
  animation: html-fill 3s forwards;
}
@keyframes html-fill{
  100%{
      width: 100%;
  }
}

#css-bar{
  animation: css-fill 3s forwards;
}
@keyframes css-fill{
  100%{
      width: 100%;
  }
}

#javascript-bar{
  animation: js-fill 3s forwards;
}
@keyframes js-fill {
  100%{
      width: 100%;
  }
}

#jQuery-bar{
  animation: jQuery-fill 3s forwards;
}
@keyframes jQuery-fill{
  100%{
      width: 100%;
  }
} 

/* Hard skills */
#oracle-bar{
  animation: oracle-fill 5s forwards;
}
@keyframes oracle-fill{
  100%{
      width: 80%;
  }
}

#virtual-bar{
  animation: virtual-fill 5s forwards;
}
@keyframes virtual-fill{
  100%{
      width: 60%;
  }
}

#windows-bar{
  animation: windows-fill 4s forwards;
}
@keyframes windows-fill{
  100%{
      width: 60%;
  }
}

#office-bar{
  animation: office-fill 4s forwards;
}
@keyframes office-fill{
  100%{
      width: 60%;
  }
}

#python-bar{
  animation: python-fill 3s forwards;
}
@keyframes python-fill{
  100%{
      width: 40%;
  }
}

#hcss-bar{
  animation: hcss-fill 3s forwards;
}
@keyframes hcss-fill{
  100%{
      width: 40%;
  }
}

.animskill .card {
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  width: 50%;
  justify-self: center;
}

.cloud .card {
  width: 60%;
  margin-left: 380px;
}

.skillz .soft .grid {
  grid-template-rows: 2;
}
    
.myDIV:hover + .hide {
  display: block;
  color: red;
}



/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }    
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }    
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }    
}

/* Tablets and under */
@media(max-width: 768px) {

  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
  }

  .showcase {
      height: auto;
      margin: auto;
  }

  .showcase-text {
      text-align: center;
      margin-top: 40px;
      animation: slideInFromTop 1s ease-in;
  }

  .showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: auto;
    padding: 40px;
    z-index: 100;
    animation: slideInFromRight 1s ease-in;
  }

  .cli .grid > *:first-child {
      grid-column: 1;
      grid-row: 1;
  
  }

  .features-head,
  .features-sub-head,
  .docs-head {
      text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
      justify-self: center;
  }

  .features-main .grid >*:first-child,
  .features-main .grid >*:nth-child(2) {
      grid-column: 1;
  }
  
}


/* Mobile */
@media(max-width: 500px) {

  .navbar {
      height: 150px;
  }

  .navbar .flex {
      flex-direction: column;
  }

  .navbar ul {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
  }
  .cloud {
    width: 100%;
    
  }

  .cloud .grid{
    grid-column: 1;
    width: 100%;
  }
  .profileimg {
    animation: slideInFromBottom 1s ease-in;
    overflow: visible;
    width: 80%;
    align-self: center;
  }
}
